@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 175, 115, 96;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 175, 115, 96;
    --foreground-rgb: 0, 0, 0;
  }
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-poiretone {
  font-family: var(--font-poiretone);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
